/* div p {
    background-color:mediumspringgreen;
} */
/* div > p{
    background-color:mediumspringgreen;
} */
/* div + p {
    background-color:mediumspringgreen;
} */
/* p + p {
    background-color:mediumspringgreen;
} */
 div ~ p{
    background-color:mediumspringgreen;
 }