.box{
    width: 120px;
    height: 120px;
}
#mbox{
    width: 30px;
    height: 30px;
    background-color:yellow;
    position:absolute;
    top:50px;
    left:50px;
}
#first{
    background-color:#ff0000;
    position: relative;
    z-index: 3;
}

#second{
    background-color:#00ff00;
    /* position: relative; */
    /* top:50px;
    left:30px; */
    /* position: absolute;
    top:50px;
    left:50px; */
    position: absolute;
    top:50px;
    left:50px;
    /* z-index: -1; */
    z-index: 2;
}

#third{
    background-color:#0000ff;
    /* position: fixed; */
    /* position:sticky;
    top:30px;
    left:30px; */
    /* bottom:0px; */
    position: relative;
    z-index: 1;
}
#div-4{
    width: 200px;
    height:1000px;
    background-color: crimson;
}