table, th, td{
    border:1px solid #000000;
}
table{
    border-collapse:collapse;
    width:80%;
}
th{
    height:30px;
    text-align:left;
    vertical-align:top;
    padding:15px;
    background-color: darkgray;
}
caption{
    caption-side:bottom;
    padding:5px;
}
td{
    text-align:center;
    padding:15px;
    /* background-color: darkorange; */
}
td:hover, th:hover{
    background-color:cornflowerblue
}
tr:nth-child(even){
    background-color:red;
    
}